.sidebar{
  width: 30%;
  min-height: 2200px;
  background-color: yellow;
  float: left;
  text-align: center;
}

ul {
  list-style-type: none;
}

img {
  width: 65%;
  height: auto;
}

.thao {
  float: left;
  width:20%;
  margin-right: 15px;
}

.column {
  width: 200px;
  float: left;
  background-color: black;
  border: 2px solid red;
}

.GetDown {
  margin-top: 85px;
}

.bio {
  border: 2px solid green;
  padding: 4px;
  margin: 12px;
  background-color: orange;
}

h1 {
  text-align: center;
}

.redgraph {
  color: red;
}

.greengraph {
  color: green;
}

.yellowgraph {
  color: yellow;
}

body{
  background-color: lightblue;
}
